div#widgetcontainer_STRATP_cm4all_com_widgets_Embed_54507677 {
    height: 100vh !important;
  }
  td#content_right_wrapper {
    display: none !important;
  }
  #content_main_wrapper,
  #content_main_wrapper .content_main,
  #content_main_wrapper div#widgetcontainer_STRATP_cm4all_com_widgets_Embed_54507677 {
    width: 100% !important;
  }